############################
# Node
############################
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

############################
# Python / ML
############################
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.h5
*.pt
*.pth
*.bin

# Virtual environments
.venv/
venv/
env/

# ML Artifacts
artifacts/
outputs/
checkpoints/
models/
runs/
ML_model/

# Datasets
*.csv
*.tsv
*.jsonl
*.parquet
*.feather
*.xlsx

*.pt
*.bin
*.h5
*.pkl
*.ckpt
*.onnx
*.zip
*.rar
*.7z
*.mp4
*.mov
models/**
data/**


# HuggingFace cache
~/.cache/huggingface/
hf_cache/

############################
# VS Code
############################
.vscode/

############################
# System files
############################
.DS_Store
Thumbs.db

############################
# Logs
############################
*.log
logs/

!ML_model/rag_service.py
!backend/src/models/User.js
